/** {
	outline: 1px red solid;
}*/
body{
	margin: 2%;
}

.section {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.section h2 {
	padding-bottom: 10px;
	border-bottom: 2px solid #BBB;
	/*margin-bottom: -5px;*/
}

.section h3 {
	font-size: 1rem;
	font-style: italic;
}

.section .subheading {
	font-style: italic;
}

.section .body {
	float: left;
	width: 70%;
}

.section .graphic {
	float: right;
	width: 30%;
}

.section .graphic img {
	width: 80%;
}

@media (max-width: 800px) {
	.section .body {
		width: 60%;
	}
	.section .graphic {
		width: 40%;
	}
}
@media (max-width: 500px) {
	.section {
		display: inline-block;
		text-align: center;
	}
	.section .body {
		float: none;
		width: 100%;
	}
	.section .graphic {
		float: none;
		width: 100%;
	}
	.section .graphic img {
		width: auto;
		max-width: 80%;
	}
}
